apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
  - github.com/open-policy-agent/gatekeeper/library/general/requiredlabels?ref=v3.1.0-beta.1
resources:
  - library/delete-annotation-requirement/template.yaml
  - library/ingress-host-restriction/template.yaml
  - library/name-label-match/template.yaml
